.ball{
    display: inline-block;
    width: 2%;
    height: 2%;
    background-color: gray;
    border-radius: 50%;
    margin:3.7% 4% 3.6% 4%;
}

.hidden-ball{
    display: inline-block;
    width: 2%;
    height: 2%;
    background-color: gray;
    border-radius: 50%;
    margin:3.7% 4% 3.6% 4%;
    visibility: hidden;
}

.ghost{
    display: inline-block; 
    position: absolute; 
    width: 7%; 
    height: 7%; 
    background-color: black; 
    border-radius: 80%; 
}