.ball{
    display: inline-block;
    width: 2%;
    height: 2%;
    background-color: gray;
    border-radius: 50%;
    margin:3.7% 4% 3.6% 4%;
}

.hidden-ball{
    display: inline-block;
    width: 2%;
    height: 2%;
    background-color: gray;
    border-radius: 50%;
    margin:3.7% 4% 3.6% 4%;
    visibility: hidden;
}